*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

html,body{
    width: 100%;
    height: 100%;
}

.main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(154, 239, 154);
}


.panel{
    width: 80%;
    height: 80%;
    overflow: hidden;
    background-color: #fff;
    border-radius: 10px;

}

.ptop{
    width: 100%;
    height: 100px;
    display: flex;
    padding: 0px 30%;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(54, 194, 54);
}

.elem{
    display: flex;
    align-items: center;
    gap: 20px;
    
}

elem h2{
    font-size: 22px;
    font-weight: 500;
}

.box{
    font-size: 25px;
    font-weight: 600;
    color: rgb(70, 186, 70);
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #fff;
}

#pbtm{
    width: 100%;
    height: calc(100% - 100px);
    padding: 20px;    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    
}

.bubble{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: rgb(116, 211, 116);
    color: #fff;
    border-radius: 50%;
    font-weight: 600;
    font-size: 25px;
}

.bubble:hover{
    background-color: rgb(39, 79, 39);
    cursor: pointer;
}